@media only screen and (min-width: 64rem) {
    nav button {
        display: none;
    }

    nav ul {
        display: flex;
        justify-content: center;
        margin-left: 2vw;
        border-left: 1px solid rgba(0, 0, 0, 0.3);
    }

    .hover:hover {
        box-shadow: 0 0 50px #333;
    }

    .rooms {
        display: flex;
    }

    .rooms a {
        font-size: xx-small;
    }

    .rooms p {
        padding: 5px;
    }

    .beds {
        padding: 15px;
        background-color: #bfd3c1;
    }

    .rooms1 {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .rooms1 img {
        grid-column: 1;
    }

    .rooms1 p {
        grid-column: 2;
        padding: 40px;
        background-color: #bfd3c1;
    }

    .hero-image {
        max-width: 85%;
    }

    .home-page {
        display: block;
    }

    .call {
        float: right;
        margin-top: -500px;
    }

    .large {
        max-width: 40%;
    }

    .temple1 {
        float: right;
    }

    main #cards {
        display: grid;
        max-width: 200px;
        grid-template-columns: 1fr 1fr;
        grid-gap: 100px;
        padding: 100px;
    }
}