@media only screen and (min-width: 35rem) {

    .temples-grid,
    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        padding: 10px;
    }

    .temple1 {
        max-height: 75%;
        margin-bottom: 300px;
    }

    .hero-image {
        margin-top: none;
        height: 100%;
    }

    .weather {
        max-height: 175px;
    }

    .call {
        height: 175px;
    }

    .contact-info {
        max-height: 175px;
    }

}