body {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #FFE5D4;
    padding: 1em;
}

html {
    background-color: #68A691;
    font-family: "Oswald", sans-serif;
}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
  }
  
/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}
  

h1,
h2,
h3,
button {
    font-family: 'IM Fell Double Pica', serif;
}

.logo1, .logo2 {
    width: 40px;
}

p {
    font-family: 'Lora', serif;
}

header, footer {
    background-color: #BFD3C1;
}

header {
    display: flex;
}

.primary-logo {
    width: 50%;
}

nav button {
    margin: 0.2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
}


nav ul {
    list-style-type: none;
    display: none;
}

nav ul.open {
    display: block;
}

.primary-logo.open {
    display: none;
}

nav ul li a {
    display: flex;
    padding: 0.6rem 2vw;
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: wheat;
}

nav ul li .active {
    background-color: transparent;
    color: var(--text-on-primary-background);
    font-size: large;
}

nav a:hover {
    color: #9988e7;
  }

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: flex;
}

main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    gap: 10px;
}

.hero-image {
    margin-top: 20px;
    grid-column: 1;
    grid-row: 1;
}

.welcome {
    grid-column: 2;
    grid-row: 1;
}

.call .button1 {
    grid-column: 1;
    grid-row: 2;
    padding: 60px;
    font-size: larger;
    max-height: 180px;
}

.button1:hover {
    background-color: #333;
}

.contact-info {
    grid-column: 2;
    grid-row: 2;
    font-size: smaller;
    border: 1px solid;
    padding: 10px;
    background-color: #BFD3C1;
    max-height: 95%;
}

.weather {
    grid-column: 1;
    grid-row: 3;
    border: 1px solid;
    background-color: #BFD3C1;
    padding: 10px;
}

.temple-highlight {
    grid-column: 2;
    grid-row: 3;
    border: 1px solid;
    padding: 10px;
    background-color: #BFD3C1;
    height: 190px;
}

.temple1 {
    padding: 30px;
    grid-column: 1 / 2;
    grid-row: 4;
}
